.purpleDark{
  color: #1e1338;
  color: rgba(30, 19, 56, 0.5);
}

.purpleBlue{
  color: #293376;
  color: rgba(41, 51, 118, 0.5);
}

.purplePastel{
  color: #6d55d3;
  color: rgba(109, 85, 211, 0.5);
}

.blueSky{
  color: #007799;
  color: rgba(0, 119, 153, 0.5);
}

.greenNeon{
  color: #34d07c;
  color: rgba(52, 208, 124, 0.5);
}
