.backImg{
  background-position: center;
  background-size: cover;
}
.backBottom{
  background-position: center top !important;
}
.backImg>.texture{
  z-index: -1;
  opacity: 0.1; }
/* About */
#aboutCover{ background-image: url('../img/covers/about-cover-mobile.jpg'); }
#aboutRulebook{
  background: #fff;
  padding: 75px 0 50px 0;
  box-sizing:content-box;
}
#aboutRulebook>.texture{ opacity: 0.05; }
#aboutRulebook>div>h2{
  font-family: 'Merriweather', serif;
  font-size: 5.6vh;
  text-align: center;
}
.marginAbout{
  width: calc(100% - 150px);
  height: 100%;
  margin: 0 auto;
}
#pointsRulebook{
  margin: 50px auto;
  position: relative;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#pointsRulebook>li{
  text-align: center;
  color:#007799;
  margin: 20px auto;
  max-width: 200px;
}
#videoWrap{
  width: 100%;
  height: 300px;
  background-image: url('../img/about-video.jpg');
  background-position: center;
  background-size: cover;
}
#teamAbout{
  background: #fff;
  height: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}
#teamAbout>div>h3{
  text-align: center;
  margin: 10px auto;
  color: #007799;
  font-size: 5vh;
  font-family: 'Merriweather', serif;
}
#teamAbout>div{
  text-align: center;
  overflow: hidden;
}
#teamAbout>div>p{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  line-height: 1.8;
  color:#007799;
}
.rowTeam{
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.rowTeam>li{
  width: 250px;
  height: 250px;
  margin: 20px auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#jobAbout{
  height: auto;
  background: #293376;
  text-align: center;
}
#jobAbout>div>h4{
  font-family: 'Merriweather', serif;
  font-size: 4.5vh;
  padding: 50px 0 15px 0;
}
#jobAbout>div>p{
  line-height: 1.8;
  color: #fff;
}

#jobAbout>div>a{
  font-family: 'Merriweather', serif;
  font-size: 3vh;
  display: block;
  text-align: center;
  padding: 50px 0;
}
/* Services */
#servicesCover{
  background-image: url('../img/covers/services-cover-mobile.jpg');
}
#servicesInfo{
  height: auto;
}
#servicesInfo>.blackTexture{
  z-index: -1;
  opacity: 0.1; }
#servicesInfo>div>h2{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 5.6vh;
  padding: 30px 0;
}
#servicesInfo>div>ul{
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 80px;
}
.serviceLi, .serviceLiRetro{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.serviceLi>div, .serviceLiRetro>div{
  width: 100%;
  height: 300px;
}
.serviceLi>div>p, .serviceLiRetro>div>p{ display: none }
.serviceLi>div>div, .serviceLiRetro>div>div{
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.serviceLi>div>div>h3, .serviceLiRetro>div>div>h3{
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #34d07c;
  padding: 10px 0;
}
.serviceLi>div>div>p,
.serviceLiRetro>div>div>p{
  text-align: center;
  color: #293376;
  max-width:400px;
}
.serviceLi>.imgic,
.serviceLiRetro>.imgic{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}
/* Projects */
#projectsCover{ background-image: url('../img/covers/projects-cover-mobile.jpg'); }
#projectsGallery{
  height: auto !important;
  padding: 80px 0;
}
#projectsGallery>div>h2{
  font-family: 'Merriweather', serif;
  font-size: 5.6vh;
  text-align: center;
  line-height: 1.6;
}

#projectsGallery>div>form{
  width: 100%;
  margin: 30px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px;
}
#projectsGallery>div>form>select{
  padding-left: 5px;
  background: #34d07c;
  width: 200px;
  color: #fff;
  line-height: 30px;
  margin: 0 5px;
  -ms-text-align-last:center;
  -moz-text-align-last:center;
  text-align-last:center;
  font-family: 'Avenir Black', sans-serif;
  font-size: 1rem;
  background-image:
   linear-gradient(45deg, transparent 50%, #fff 50%),
   linear-gradient(135deg, #fff 50%, transparent 50%);
 background-position:
   calc(100% - 20px) calc(1em - 2px),
   calc(100% - 15px) calc(1em - 2px),
   calc(100% - 2.5em) 0.5em;
 background-size:
   5px 5px,
   5px 5px,
   1px 1.5em;
 background-repeat: no-repeat;
}
#projectsGallery>div>form>select:nth-child(2){
  background: #293376;
  background-image:
   linear-gradient(45deg, transparent 50%, #fff 50%),
   linear-gradient(135deg, #fff 50%, transparent 50%);
 background-position:
   calc(100% - 20px) calc(1em - 2px),
   calc(100% - 15px) calc(1em - 2px),
   calc(100% - 2.5em) 0.5em;
 background-size:
   5px 5px,
   5px 5px,
   1px 1.5em;
 background-repeat: no-repeat;
}
.rowProjects{
  width: 100%;
  height: 950px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
.rowProjects>li{
  position: relative;
  width: 250px;
  height: 250px;
  cursor: pointer;
}
.rowProjects>li>a{
  display: block;
  width: 100%;
  height: 100%;
  background: yellow;
}
.rowProjects>li>.thumbnail,
.rowProjects>li>a>.thumbnail{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.greyscaleFull{
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}
.greyscaleNone{
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
.rowProjects>li>.thumbnailColor,
.rowProjects>li>a>.thumbnailColor{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(109, 85, 207, 0.5);
}
.rowProjects>li>.thumbnailColor:hover,
.rowProjects>li>a:hover>.thumbnailColor{
  background: rgba(109, 85, 207, 0);
}
.rowProjects>li>p,
.rowProjects>li>a>p{
  position: absolute;
  bottom: 0;
  left: 4px;
}
/* Project Info */
#projectBack{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 190;
}
#projectBack>.texture{
  z-index: -1;
  opacity: 0.06; }
#projectSectionWrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 250px;
  z-index: 200;
  height: auto;
  background: none;
}
/* Inside Project */
.projectSection{
  width: 100vw;
  min-width: 250px;
  height: 100vh;
  background:none;
}
.heightAuto{ height: auto !important; }
.projectSection>.marginProject{
  width: calc(100vw - 180px);
  height:100%;
  margin: 0 auto;
}
.projectSection>div>h2{
  font-family: 'Merriweather', serif;
  font-size: 5.6vh;
  margin-top: 100px;
  color:#293376;
  text-align: center;
}
.projectSection>div>h3{
  font-family: 'Avenir Black', sans-serif;
  color:#293376;
  font-size:4.2vh;
  text-align: center;
}
#headerProject{
  margin: 20px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#headerProject>div>h4{
  font-family: 'Avenir Black', sans-serif;
  color: #34d07c;
  text-transform: uppercase;
  margin: 5px auto;
}
#headerProject>div>p{
  color:#293476;
  margin-bottom: 15px;
}
#sliderProject, #videoProject{
  position: relative;
  width: 100%;
  margin: 0 auto;
}
#sliderProject>div,#videoProject>div{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#sliderInterface{
  width: 100%;
  margin: 0 auto;
  height: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#sliderInterface>a{
  display: block;
  width: 50px;
  height: 50px;
}
#sliderInterface>a>svg>path{
  stroke-dashoffset: 0;
}

#outcome{
  position: relative;
  margin: 20px auto;
  width: 50%;
  height: auto;
}
#outcome>img{
  margin: 10px;
}
#outcome>div>h4{
  text-transform: uppercase;
  color: #34d07c;
  margin: 5px auto;
}
#outcome>div>p{
  color: #293476;
}
/* Inside Gallery */
#insideGallery{
  width: 100vw;
  min-width: 250px;
  height: 100vh;
  background: #293376;
}
.rowProject{
  width: 100%;
  height: 300px;
  background:none;
  -webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;


-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
}
.rowProject>li{
    width: 250px;
    height: 250px;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* MEDIO */
@media (min-width: 680px) {
  #aboutCover{
    background-image: url('../img/covers/about-cover-desktop.jpg');
  }
  #servicesCover{
    background-image: url('../img/covers/services-cover-desktop.jpg');
  }
  #projectsCover{
    background-image: url('../img/covers/projects-cover-desktop.jpg');
  }
  .backBottom{
    background-position: center bottom !important;
  }
  /* Services */
  #servicesInfo>div>h2{ text-align: left; }
  .serviceLi>div>div>h3, .serviceLiRetro>div>div>h3{
    text-align: left;
  }
  #servicesInfo>div>ul>li>div>p{ display: block }
  .serviceLi>div>div>p,
  .serviceLiRetro>div>div>p{
    text-align: left;
  }
  .serviceLi{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .serviceLiRetro{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .serviceLi>div>p,
  .serviceLiRetro>div>p{
    font-family: 'Avenir Black', sans-serif;
    display: block;
    line-height: 300px;
    color: #1e1338;
    align-items: center;
    justify-content: center;
  }
  .serviceLi>.imgic,
  .serviceLiRetro>.imgic{
    background-size: 25%;
  }
}
/* DESKTOP */
@media (min-width: 880px) {
  #videoWrap{
    height: 85vh;
  }
  #aboutRulebook{
    height: auto;
    padding: 30px 0;
  }
  #pointsRulebook{
    margin: 20px auto;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #pointsRulebook>li{ width: 250px; }
  #pointsRulebook>li>img{ margin: 10px auto; }
  .rowTeam{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  #jobAbout>div>h4{
    padding: 80px 0 15px 0;
  }
  #jobAbout>div>a{
    padding: 50px 0 80px 0;
  }
  .rowProjects>li{
    width: 300px;
    height: 300px;
  }
  /* Project Inside */
  .projectSection>div>h2{
    text-align: left;
    font-size: 6.5vh;
  }
  .projectSection>div>h3{
    text-align: left;
  }
  #headerProject{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
  }
  #headerProject>div:first-child{
    width: 50%;
    max-width: 500px;
  }
  #headerProject>div:nth-child(2){
    width: 40%;
  }
  #headerProject>div>p{
    margin-bottom: 0;
  }
}
/* DESKTOP Projects */
@media (min-width: 920px) {
  /* Projects */
  #projectsGallery>div>h2{
    text-align: left;
  }
  #projectsGallery>div>form{
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;

  }
  #projectsGallery>div>form{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 60px;
  }
  .rowProjects{
    max-width: 1000px;
    margin: 15px auto;
    height: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .projectSection>div>header>div{
    width: 40%;
    margin: 20px auto;
  }
}
